<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>info</key>
	<dict>
		<key>name</key>
		<string>RiP Dev</string>
		<key>maintainer</key>
		<string>RiP Dev</string>
		<key>contact</key>
		<string>support@ripdev.com</string>
		<key>url</key>
		<string>http://ripdev.com</string>
		<key>category</key>
		<string>Community Sources</string>
		<key>description</key>
		<string>RiP Dev Products (Installer 4)</string>
	</dict>
</dict>
</plist>
